a,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
}
span {
  color: #a5b4fc;
}
#farmer {
  color: rgb(0, 255, 85);
}
h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 1.1em;
  font-family: "Manrope", sans-serif;
  color: #f9f8ff;
}
ul {
  font-size: 1em;
  font-family: "Manrope", sans-serif;
  color: #f9f8ff;
}
a {
  text-decoration: none;
  font-size: 1em;
  font-family: "Manrope", sans-serif;
  color: #242424;
}
.anciens {
  text-decoration: line-through;
}
.header,
.footer {
  background-color: white;
}
body {
  background-color: #1f2039;
}
h2 {
  color: #f9f8ff;
}
.degrade {
  background: linear-gradient(19deg, #8e86b5, #acaeed);
  border-radius: 50px;
}
.border {
  border-right: 1px #8e86b5 double;
  border-bottom: 1px #8e86b5 dashed;
}
